@import "./color_schemes/dark";

/* background */
body {
  background-image: url('/assets/background.jpg');
}
.side-bar, .main-header, .search-input {
  background-color: transparent !important;
}

/* links color */
a, 
.nav-list .nav-list-item .nav-list-expander, 
.main-content .anchor-heading svg, 
.search-input:focus + .search-label .search-icon {
  color: tomato !important;
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: #959396 !important;
}

.label..label-border-white {
  background-color: transparent;
  border: 1px solide white;
}
